body {
    font-family: "Sono", sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/bg.jpg');
  }

h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.pricing-plan {
    background-color: #F0F0EE;
    border-radius: 5px;
    height: 410px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.first {
    background-image: url("./assets/orc.jpg");
    background-size: cover;
    width: 210px;
}

.pricing-plan:hover {
    transform: scale(1.1);
    transition: transform .4s
}

.second{
    background-image: url("./assets/orc2.jpg");
    background-size: cover;
    width: 210px;
}

.third {
    background-image: url("./assets/orc3.jpg");
    background-size: cover;
    width: 210px;
}

.text-cont{
    color: white;
    padding-bottom: 40px;
    position: relative;
    top: 30px;

}

.plan-title {
    margin-top: 180px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.plan-price {
    color: gray;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.plan-features {
    font-size: 10px;
    list-style-type: none;
    text-align: center;
    margin: 4;
    padding: 0;
}

li {
    margin-top: 6px;
}



@media (max-width: 780px) {
    .pricing-container {
        flex-direction: column;
        gap: 20px;
        max-width: 200px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 50px;
    }
    
}





.plan-button {
  padding: 0.6em 2em;
  border: none;
  margin-top: 10px;
  left: 55px;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-three {
    font-size: 15px;
    left: 50px;
    margin-top: 5px;
}

.button-three:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.plan-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}